body, html {
  height: 100%; }

a {
  color: #5022ac;
  cursor: pointer; }
  a:hover {
    outline: 0;
    text-decoration: none;
    color: #642cd5; }

body {
  background: rgba(80, 34, 172, 0.1);
  font: 100% "Source Sans Pro", sans-serif;
  color: #444; }
  body p {
    font-size: 14px;
    line-height: 180%; }
  body a, body:visited, body:active, body:after, body:focus {
    outline: 0;
    text-decoration: none;
    color: #5022ac; }

.padded {
  padding: 0 20px 0 20px; }

.snippet-block {
  padding: 0 10px 0 10px; }

.separate-top {
  border-top: 1px solid #e1e1e1;
  padding: 5px 0 0 0; }

.xsmall {
  font-size: 12px;
  margin-bottom: 5px; }

.description {
  color: #5e5e5e; }

.load {
  color: #5022ac;
  font-size: 16px;
  font-weight: bolder;
  text-transform: capitalize; }

#header {
  background: #fafafa;
  overflow: hidden;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 1px 2px #c7c7c7 ;
  -moz-box-shadow: 0 1px 2px #c7c7c7 ;
  box-shadow: 0 1px 2px #c7c7c7 ;
  padding: 20px 0 20px 0; }

#footer {
  background: #fafafa;
  overflow: hidden;
  -webkit-box-shadow: 0px -1px 2px #c7c7c7 ;
  -moz-box-shadow: 0px -1px 2px #c7c7c7 ;
  box-shadow: 0px -1px 2px #c7c7c7 ;
  padding: 20px 0 20px 0; }

#wrap {
  height: auto !important;
  margin: 0 auto -60px;
  min-height: 100%;
  padding: 0 0 60px; }

body .well {
  background: #fafafa;
  -webkit-box-shadow: 0px 1px 1px #c7c7c7 ;
  -moz-box-shadow: 0px 1px 1px #c7c7c7 ;
  box-shadow: 0px 1px 1px #c7c7c7 ;
  border: none; }

.logo {
  text-shadow: 0px 1px 1px #adadad;
  font-weight: 100;
  margin: 10px 0 10px 0; }
  .logo a {
    text-decoration: none;
    font-size: 20px;
    color: #5022ac;
    font-style: italic; }
  .logo span {
    text-decoration: none;
    font: 100% "Audiowide", cursive;
    font-style: italic;
    color: #444;
    font-size: 35px; }

.navigation {
  text-transform: uppercase;
  font-weight: bolder;
  margin-top: 10px; }
  .navigation li a {
    border: 1px solid #5022ac;
    padding: 10px;
    margin-left: 10px;
    font-size: 16px; }
    .navigation li a:hover, .navigation li a:focus {
      background: #5022ac;
      color: #fafafa; }

.navigation-sub li a {
  font-size: 12px;
  padding: 5px 8px 5px 8px;
  border: 1px solid #fafafa; }
  .navigation-sub li a:hover, .navigation-sub li a:active {
    background: #5022ac;
    color: #fafafa;
    border: 1px solid #642cd5;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-clip: padding-box; }

nav .nav-pills li.active a {
  background: #5022ac;
  color: #fafafa; }
  nav .nav-pills li.active a:hover, nav .nav-pills li.active a:focus {
    background: #5022ac;
    color: #fafafa; }

.nav-social li {
  float: right;
  margin: 0 0 0 4px;
  font-size: 18px;
  list-style: none; }
  .nav-social li a {
    text-decoration: none;
    color: #919191; }
    .nav-social li a :hover {
      text-decoration: none;
      color: #919191; }

.nav-social li {
  float: right;
  margin: 0 0 0 4px;
  font-size: 18px; }
  .nav-social li a i {
    padding: 0 4px 0 0;
    color: #642cd5; }
    .nav-social li a i:hover {
      color: #919191; }

.navbar {
  margin-bottom: 0px;
  min-height: 30px; }

#header .btn {
  padding: 8px;
  margin-top: 10px; }

.btn-custom {
  color: #5022ac;
  border: 1px solid #5022ac;
  background: #fafafa;
  background-image: none;
  font-size: 16px;
  text-shadow: none;
  font-weight: bold;
  text-transform: uppercase; }
  .btn-custom:hover, .btn-custom:active {
    color: #fafafa;
    background: #5022ac; }

.link-custom {
  font-weight: bold; }
  .link-custom:hover {
    text-decoration: underline; }

.label {
  background: #fafafa;
  border: 1px solid #5022ac;
  margin-right: 3px;
  text-transform: uppercase;
  display: inline-block; }
  .label:hover {
    background: #5022ac; }
  .label a {
    text-shadow: none;
    padding: 3px; }
    .label a:hover {
      text-decoration: none;
      color: #fafafa; }

.snippet-title {
  font-size: 30px;
  line-height: 125%;
  font-weight: 100;
  text-transform: capitalize;
  margin-bottom: 0;
  margin-top: 0px; }
  .snippet-title a {
    color: #444; }
    .snippet-title a:hover {
      color: #642cd5;
      text-decoration: none; }
  .snippet-title span {
    margin-top: -10px;
    margin-right: -10px; }
    .snippet-title span a {
      font-size: 15px;
      color: #5022ac; }
      .snippet-title span a:hover, .snippet-title span a:active {
        color: #642cd5;
        text-decoration: none; }

.name {
  font-weight: bold; }

.icon-marged {
  margin: 0 5px 0 5px; }

.marged-left {
  margin-left: 10px; }

.padded-top {
  padding-top: 10px; }

body .list {
  margin-left: 5px;
  padding-left: 10px; }
  body .list li {
    list-style: none;
    margin-bottom: 5px; }

.alert {
  text-align: center; }

.page-title {
  font-weight: 100;
  color: #5022ac; }

.page-title-small {
  font-weight: 100;
  color: #5022ac;
  font-size: 30px;
  margin-top: 0px; }

.asside-title {
  font-size: 20px;
  font-weight: 100; }

.main-search {
  margin-top: 17px; }

#paginate {
  text-align: center; }
  #paginate ul li a {
    color: #5022ac; }
    #paginate ul li a:hover, #paginate ul li a:focus {
      color: #5022ac; }

#paginate .pagination > .disabled > a {
  color: #919191;
  background-color: #e1e1e1; }

#paginate .pagination > .active > a,
#paginate .pagination > .active > span,
#paginate .pagination > .active > a:hover,
#paginate .pagination > .active > span:hover,
#paginate .pagination > .active > a:focus,
#paginate .pagination > .active > span:focus {
  background-color: #5022ac;
  border-color: #642cd5;
  color: #fafafa; }

/* Forms */
.input-group-addon {
  background: rgba(80, 34, 172, 0.1);
  border: 1px solid #e1d6f7; }

.input-group-addon .glyphicon {
  color: #5022ac; }

.form-wrapper {
  padding: 0 25px 0 25px; }
  .form-wrapper label {
    color: #5022ac;
    font-weight: normal;
    text-transform: uppercase; }
  .form-wrapper .form-control {
    border: 1px solid #e1e1e1;
    color: #666;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-clip: padding-box; }
    .form-wrapper .form-control:focus {
      -webkit-box-shadow: 0px 0px 3px #a381e6 ;
      -moz-box-shadow: 0px 0px 3px #a381e6 ;
      box-shadow: 0px 0px 3px #a381e6 ; }

.code-box {
  border: 1px solid #e1e1e1;
  background-color: #fafafa;
  border-left: 2px solid #5022ac;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  padding: 0px; }

.form-wrapper .tags {
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  box-shadow: none; }

.form-wrapper tags-input .tags .tag-item {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  border: 1px solid #5022ac;
  color: #5022ac;
  line-height: 22px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  background-image: none;
  background-color: #fafafa; }

.form-wrapper tags-input .tags .tag-item a {
  color: #5022ac; }

.error {
  font-size: 13px;
  color: #cc3a3a;
  padding-top: 10px; }

/*# sourceMappingURL=app.css.map */
