
<div class="row">
        <div class="col-md-12">
             <h1 class="page-title-small">About</h1>
            <div class="well well-lg">
            <section>
                <h3 class="page-title-small">
                Who?
            </h3>
                <p class="text-muted">
                 PHP-snips.com is established in 2014, as a private project of IT couple,
                 created in cooperation of PHP developer and a web-designer.   
                </p>
            </section>
            <section>
                <h3 class="page-title-small">
                Why?
            </h3>
                <p class="text-muted">
                   Every developer have his/hers own habits and style,
                   while all seem to love making up a handy shortcuts and
                   finding some cool smart solutions!
                   This web-site has been created as the place to to those geeks
                   who'd like to share their tricks with the PHP community and, maybe,
                   even find some  interesting snips to use themselves. 
                </p>
            </section>
        </div> 
    </div>
</div>
